html,
body {
    font-size: 20px;
    padding-bottom: 2000px;
    color: green;
}

h1{
    font-size: 100px;
    color: brown;
}

table{
    font-size: 28px;
    border-collapse: collapse;
    color:blueviolet;
    tr {
        td,
        th{
            border: 1px solid gray;
        }
    }
}